{% extends 'mainapp/base.html' %}

{% block title %}Корзина{% endblock title %}
{% block content %}
    <style>
        table td, table th {
            vertical-align: middle !important;
        }
    </style>
    <h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.counts %}пустая{% endif %}</h3>
    {% if cart.products.count %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Наименованик</th>
                <th scope="col">Изображение</th>
                <th scope="col">Цена(руб)</th>
                <th scope="col">Количество</th>
                <th scope="col">Общая цена(руб)</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart.products.all %}
                <tr class="align-middle">
                    <th scope="row">{{ item.product.title }}</th>
                    <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
                    <td>{{ item.product.price }}</td>
                    <td>
                        <form method="POST" action="{% url 'change_qty' slug=item.product.slug %}"
                              class="d-flex flex-row justify-content-center align-items-center">
                            {% csrf_token %}
                            <input type="number" value="{{ item.qty }}" name="qty" class="form-control"
                                   style="width:60px;" min="1" max="20">
                            <input type="submit" class="btn btn-primary ml-2" value="Изменить к-во">
                        </form>
                    </td>
                    <td>{{ item.final_price }}</td>
                    <td>
                        <a href="{% url 'delete_from_cart' slug=item.product.slug %}">
                            <button class="btn btn-danger">Удалить</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>Итог:</td>
                <td>{{ cart.total_products }}</td>
                <td><strong>{{ cart.final_price }}</strong></td>
                <td><a href="{% url 'checkout' %}">
                    <button class="btn btn-primary">Перейти к оформлении</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}