{% extends 'mainapp/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Оформление заказа{% endblock title %}

{% block content %}
    <h3 class="text-center mt-5 mb-5">Оформления заказа</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Наименованик</th>
            <th scope="col">Изображение</th>
            <th scope="col">Цена(руб)</th>
            <th scope="col">Количество</th>
            <th scope="col">Общая цена(руб)</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.products.all %}
            <tr>
                <th scope="row">{{ item.product.title }}</th>
                <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.final_price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td>Итог:</td>
            <td>{{ cart.total_products }}</td>
            <td><strong>{{ cart.final_price }}</strong></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h3 class="text-center mt-5 mb-5" id="title">Форма заказа</h3>
    <form action="{% url 'make_order' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success btn-block mb-3" value="Оформить заказ" id="make_order_btn">
    </form>
    <script src="{% static 'js/validator.js' %}"></script>
    <script type="module" src="{% static 'js/order.js' %}"></script>

{% endblock %}