{% extends 'mainapp/base.html' %}
{% block title %}Профиль пользователя{% endblock title %}

{% block content %}
<div class="d-flex flex-row justify-content-between mt-4">
    <h3>Ваши заказы</h3>
    <form action="{% url 'logout' %}">
        <button type="submit" class="btn btn-danger">Выйти из системы</button>
    </form>
</div>
{% if not orders.count %}
<div class="col-md-12" style="margin:300px 0">
    <h3>У вас еще нет заказов, <a href="{% url 'base' %}">Начните делать покупки</a></h3>
</div>
{% else %}
<div class="col-md-12" style="margin:250px 0">
    <table class="table">
        <thead>
        <th scope="col">Номер</th>
        <th scope="col">Статус</th>
        <th scope="col">Сумма</th>
        <th scope="col">Товар</th>
        <th scope="col">Дополнительно</th>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.cart.final_price }}</td>
            <td>
                <ul>
                    {% for item in order.cart.product.all %}
                    <li>{{ item.product.title }} x {{ item.qty }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#order-info-{{ order.id }}">
                    Дополнительно
                </button>
                <div class="modal fade" tabindex="-1" aria-hidden="true" role="dialog" id="order-info-{{ order.id }}">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Детализация заказа</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4 class="text-center">Товар</h4>
                                <table class="table">
                                    <thead>
                                    <th scope="'col">Наименование</th>
                                    <th scope="'col">Изображение</th>
                                    <th scope="'col">Цена(руб)</th>
                                    <th scope="'col">Кол-во</th>
                                    <th scope="'col">Общая цена(руб)</th>
                                    </thead>
                                    <tbody>
                                    {% for item in order.cart.products.all %}
                                    <tr>
                                        <th scope="row">{{ item.product.title }}</th>
                                        <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
                                        <td><strong>{{ item.product.price }}</strong></td>
                                        <td>{{ item.qty }}</td>
                                        <td>{{ item.final_price }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>Итого:</td>
                                        <td>{{ order.cart.total_products }}</td>
                                        <td><strong>{{ order.cart.final_price }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <h4 class="text-center>">Дополнительная информация</h4>
                                <p>Имя: <strong>{{ order.first_name }}</strong></p>
                                <p>Фамилия: <strong>{{ order.last_name }}</strong></p>
                                <p>Телефон: <strong>{{ order.phone }}</strong></p>
                                <p>Адрес: <strong>{{ order.address }}</strong></p>
                                <p>Дата оформления: <strong>{{ order.created_at }}</strong></p>
                                <p>Статус: <strong>{{ order.status }}</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}