<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Заряд аккумулятора</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    {% if product.sd == True %}
      <tr>
        <td>Максимальный объм карты памяти</td>
        <td>{{ product.sd_volume_max }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Камера (МР)</td>
      <td>{{ product.main_can_np }}</td>
    </tr>
    <tr>
      <td>Фронтальная камера (МР)</td>
      <td>{{ product.frontal_can_np }}</td>
    </tr>

  </tbody>
</table>